/* General Reset for Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

/* Pre order form style */
.preOrderForm {
    color: var(--darkblue-text);
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adds space between the form fields */
    max-width: 500px; /* Limit the form width */
    min-width: 200px;
    margin: 20px auto; /* Center the form */
    padding: 20px;
    
    background-color: var(--white-background); /* Light background */
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.preOrderForm div {
    margin-bottom: 5px;
}

.preOrderForm label {
    font-weight: bold;
    color: var(--darkblue-text); /* Custom color for labels */
    letter-spacing: 2px;
    font-size: 20px;
}

.preOrderForm input, .preOrderForm select {
    font-size: 15px;
    font-weight: 600;
    
    padding: 5px;
    border: 2px solid #ccc; /* Border style */
    border-radius: 5px; /* Rounded corners */
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
    transition: border-color 0.3s ease;
}

.preOrderForm textarea {
    font-size: 15px;
    font-weight: 900;
    
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 150px; /* Sets a fixed height for the textarea */
    box-sizing: border-box;
    resize: vertical; /* Allows vertical resizing only */
    transition: border-color 0.3s ease;
}

/* Add a border color change on focus */
.preOrderForm input:focus,
.preOrderForm textarea:focus {
    border-color: var(--lightblue-text);
    outline: none; /* Remove default outline */
}

.preOrderForm button {
    padding: 10px 20px;
    background-color: var(--darkblue-text);
    color: var(--white-text);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease;
    width: 100%;
}

.preOrderForm button:hover {
    background-color: var(--lightblue-text);
}

/* Pre order text */

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 5vh 5vw;
    max-width: 100%;
}

.textContainer h1 {
    color: var(--white-text);

    font-size: 4rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 5px var(--black-shadow);
}

.textContainer p {
    color: var(--white-text);

    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px var(--black-shadow);

    max-width: 80%;
}

.mainTextSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.textSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 5vh 5vw;
    max-width: 50vw;

    backdrop-filter: blur(10px);
    border: 10px solid var(--white-text);
    border-radius: 25px;
    margin: 5rem;
}

.textSection h2 {
    color: var(--white-text);

    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-shadow: 2px 2px 5px var(--black-shadow);
}

.textSection ol {
    padding: 2rem 0;
    list-style: circle;
}

.textSection ol li {
    color: var(--white-text);

    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px var(--black-shadow);

    padding: 0.5rem 0;
}