/* General Reset for Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

.infoCardContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;

    margin: 0;

    /* Horizontal Scroll */
    overflow-x: auto;
    scrollbar-color: transparent transparent;

    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.infoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20vw;
    min-width: 20vw;

    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;

    background-color: var(--white-background);
}

.infoCardContainer h1 { /*title styles*/
    color: var(--darkblue-text);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

    max-width: 15vw; /*stacks titles*/
}

.infoCardContainer p { /*text styles*/
    color: var(--black-text);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;

    padding: 1rem;
}