/* General Reset for Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

/* Info cards container 1 */
.infoCardContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2rem;
    border-top: solid 10px var(--white-text);
    border-bottom: solid 10px var(--white-text);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

/* Technology Cards container */
.technologyCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2rem;
    border-top: solid 10px var(--white-text);
    border-bottom: solid 10px var(--white-text);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

/* Row container */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 3D Robot container */
.robotContainer {
    position: relative; /* Maintain the layout */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25vw;
    height: 80vh;
    margin: 2rem;

    backdrop-filter: blur(2rem);
    border: 10px solid var(--white-background);
    border-radius: 2px;

    transition: border-color 0.5s ease-in-out;
}

.robotContainer:hover {
    border-color: var(--darkblue-text);
    cursor: grab;
}

/* Section title */
.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 10vh;

    color: var(--white-text);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
}