/* General Reset for Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

/* Info cards container 1 */
.prosCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2rem;
    border-top: solid 10px var(--white-text);
    border-bottom: solid 10px var(--white-text);
    backdrop-filter: blur(10px);
}

.homeText1Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Technology containers */
.technologyContainer { /*container above and robot container*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    border-top: solid 10px var(--white-text);
    border-bottom: solid 10px var(--white-text);
    backdrop-filter: blur(10px);
}

.technologyCardsContainer { /*title and cards*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 70%;
}

/* 3D Robot container */
.robotContainer {
    position: relative; /* Maintain the layout */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30vw;
    height: 80vh;

    backdrop-filter: blur(2rem);
    border: 10px solid var(--white-background);
    border-radius: 2px;
    box-shadow: -2px 0 5px var(--black-shadow);
}

/* Section title */
.sectionTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;

    color: var(--white-text);
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: 2px 2px 5px var(--black-shadow);
}

/* Pre order container */
.preOrderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100vw;
    padding: 5rem;
}

.contactContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    border-top: solid 10px var(--white-text);
    border-bottom: solid 10px var(--white-text);
    backdrop-filter: blur(10px);
}