/* General Reset for Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
    scroll-behavior: smooth;
}

header {
    position: fixed; /* Make the header relative */
    z-index: 11; /* Header overlaps other items */
    top: 0; /* Start at the top */
    min-width: 100vw; /* Header takes up the whole view width */
    
    padding: 0.5vh 10vw; /* General padding */
    margin: 0;

    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space between left and right content */
    align-items: center; /* Center items vertically */

    background-image: url(./src/assets/PageBackground.jpg); /* Add the page background image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Dont repeat the image */
    background-size: cover; /* Dont crop the image */
    background-attachment: fixed; /* Dont move the image */
}

header nav {
    display: flex; /* Flex container */
    width: 100%; /* Ensure nav takes full width of the header */
}

header nav ol {
    list-style: none; /* Remove list numbers */
    text-align: center;

    margin: 0; /* Reset margin */
    
    display: flex; /* Flex items */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap;
    gap: 0 5rem; /* Gap between items */
}

header nav ol:last-child {
    margin-left: auto; /* Pushes the second list to the right */
}

header nav ol li a {
    text-decoration: none; /* No underline */
    color: var(--darkblue-text); /* Text color */
    font-size: 15px; /* Font size */
    font-weight: 700; /* Font weight */

    margin: 0; /* Reset margin */

    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Space between letters */
    transition: color 0.5s ease, text-shadow 0.5s ease; /* Transition effects */
}

header nav ol li a:hover { /* Hover effect */
    color: var(--lightblue-text); /* Change color */
    text-shadow: 0px 0px 5px var(--darkblue-text); /* Shadow effect */
}

header nav ol li img {
    max-height: 90px; /* Logo size */
    margin: 0; /* Reset margin */
    transition: transform 1s ease; /* Scale transition */
}

header nav ol li a:hover img { /* Hover effect on image */
    transform: scale(1.1); /* Scale up */
}
