/* General Reset for Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

.threeDContainer {
    position: relative; /* Maintain the layout */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 600px;
    height: 900px;
    border: solid 8px var(--white-text);
    border-radius: 2px;
    backdrop-filter: blur(10px);

    margin: 5rem;
}